.main-section {
  position: relative;
}

.navbar {
  position: absolute;
  z-index: 15;
}

.container-fluid {
  align-self: center;
}

p {
  color: white;
  font-weight: bold;
}

.carousel-item {
  height: 100vh;
  background-size: cover;
}

#carousel-img1 {
  background-image: url("../images/fort_canning_park.jpg");
}

#carousel-img2 {
  background-image: url("../images/henderson_waves_bridge2.jpg");
}

#carousel-img3 {
  background-image: url("../images/henderson_waves_bridge3.jpg");
}

#carousel-img4 {
  background-image: url("../images/henderson_waves_bridge.jpg");
}

#carousel-img5 {
  background-image: url("../images/lower_peirce_reservoir.jpg");
}

#carousel-img6 {
  background-image: url("../images/punggol_lalang_fields.jpg");
}

#popular-spot {
  text-align: center;
}

.col {
  padding-bottom: 15px;
}

/* ..........................style for map.html.................................... */
.nav-container {
  width: 35%;
  background-color: rgba(218, 216, 216, 0.82);
}

.form-check-label {
  margin-right: 15px;
  margin-bottom: 10px;
}

#toggle-view-recom {
  display: none;
}

#search-result-display {
  overflow-y: auto;
  max-height:200px;
}

#map {
  height: 800px;
  border: 1px solid black;
}

.hr-line {
  display: none;
}

.fa-walking,
.fa-leaf {
  color: green;
  font-size: 25px;
}

.marker-icon {
  font-size: 30px;
}

.fa-canadian-maple-leaf {
  color: rgb(179, 7, 7)
}

.fa-building {
  color: blue;
}

.fa-torii-gate {
  color: red;
}

#weather-container {
  padding-top: 25px;
  padding-bottom: 20px;
}

.weather-icon {
  color: lightskyblue
}

.btn-custom {
  background-color: rgb(245, 245, 159);
  font-size: 18px;
  margin-top: 15px;
}

.weather-marker-icon {
  font-size: 25px;
  color: rgb(67, 67, 238)
}

/* ..........................style for index.html.................................... */

/* for iPad */
@media (min-width: 768px) {
  /* #popular-spot {
    display: inline;
  } */
}

/* .............................................................. */

/* for laptop */
@media (min-width: 992px) {
  .d-flex {
    width: 500px;
  }
}
