.main-section {
  position: relative;
}

.navbar {
  position: absolute;
  z-index: 15;
}

.container-fluid {
  align-self: center;
}

p {
  color: white;
  font-weight: bold;
}

.carousel-item {
  height: 100vh;
  background-size: cover;
}

#carousel-img1 {
  background-image: url("../images/fort_canning_park.jpg");
}

#carousel-img2 {
  background-image: url("../images/henderson_waves_bridge2.jpg");
}

#carousel-img3 {
  background-image: url("../images/henderson_waves_bridge3.jpg");
}

#carousel-img4 {
  background-image: url("../images/henderson_waves_bridge.jpg");
}

#carousel-img5 {
  background-image: url("../images/lower_peirce_reservoir.jpg");
}

#carousel-img6 {
  background-image: url("../images/punggol_lalang_fields.jpg");
}

#popular-spot {
  text-align: center;
}

.col {
  padding-bottom: 15px;
}

/* ..........................style for map.html.................................... */

.map-container {
  position: relative;
}

.nav-container {
  position: absolute;
  z-index: 314159;
  background-color: rgba(218, 216, 216, 0.82);
  /* width: 32%; */
}

.form-check-label {
  margin-right: 15px;
  margin-bottom: 10px;
}

#toggle-view-recom {
  display: none;
}

.card-header {
  font-size: small;
}

.recom-title-lg {
  display: none;
}

.nav-choices {
  font-size: small;
}

#search-result-display {
  overflow-y: auto;
  max-height:150px;
  font-size: small;
  /* align-items: center; */
}

#map {
  height: 550px;
  border: 1px solid black;
}

.hr-line {
  display: none;
}

#btn-reset {
  display: none;
  align-items: center;
}

.fa-walking,
.fa-leaf {
  color: green;
  font-size: 25px;
}

.marker-icon {
  font-size: 30px;
}

.fa-canadian-maple-leaf {
  color: rgb(179, 7, 7)
}

.fa-building {
  color: rgb(77, 75, 75);
}

.fa-torii-gate,
.fa-temperature-high {
  color: red;
}

.weather-icon,
.cloudy-icon,
.fa-cloud,
#default-cloud {
  color: rgb(55, 172, 245)
}

.weather-marker-icon {
  font-size: 25px;
}

.fair-day-icon,
.fa-sun {
  color: rgb(236, 90, 5);
}

.partly-cloudy-day-icon,
.fa-cloud-sun {
  color: rgb(67, 67, 238);
}

.partly-cloudy-night-icon,
.fa-cloud-moon {
  color: rgb(139, 108, 4);
}

.fair-night-icon {
  color: rgb(243, 243, 43);
}

.light-moderate-rain-icon,
.fa-cloud-sun-rain {
  color: rgb(160, 160, 212);
}

.showers-icon,
.fa-cloud-showers-heavy {
  color: rgb(3, 3, 170);
}

.heavy-thundery-showers-icon,
.fa-poo-storm {
  color: rgb(1, 1, 71);
}

.weather-container {
  /* background-color: rgb(197, 231, 220); */
  margin-top: 15px;
  margin-bottom: 15px;
}

.weather-row {
  margin-left: 30px;
  margin-right: 30px;
}

#weather-btn-col {
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  margin-bottom: 15px;
}

#weather-title {
  text-align: center;
  padding-right: 60px;
}

/* .weather-col {
    border: solid black;
  } */

.btn-custom {
  background-color: rgb(245, 245, 159);
  font-size: 15px;
  margin-top: 15px;
  padding-right: 25px;
}

#forecast-24hr {
  padding-right: 16px;
}

.fa-temperature-low {
  color: green;
}

.weather-text {
  color: rgb(105, 102, 102);
  font-size: large;
}

#weather-display {
  align-items: center;
  text-align: center;
  padding-top: 15px;
}


/* ..........................style for meduim and large screen.................................... */

/* for iPad */
@media (min-width: 768px) {
  /* .nav-container {
    width: 45%;
  } */
  /* #popular-spot {
    display: inline;
  } */

  #map {
    height: 750px;
  }

  .card-header {
    font-size: larger;
  }

  .recom-title-sm {
    display: none;
  }

  .recom-title-lg {
    display: block;
  }

  .nav-choices {
    /* padding-left: 20px; */
    font-size: large;
  }

  #search-result-display {
    font-size: large;
  }

  .weather-container {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .weather-row {
    margin-left: 0px;
    margin-right: 0px;
  }

  #weather-btn-col {
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }

  #weather-title {
    text-align: center;
  }

  .btn-custom {
    font-size: 19px;
    margin-top: 15px;
  }

  #forecast-24hr {
    padding-right: 14px;
  }

  #weather-display {
    padding-top: 50px;
  }

}

/* .............................................................. */

/* for laptop */
@media (min-width: 992px) {
  /* .nav-container {
    width: 32%;
  } */

  #map {
    height: 650px;
  }

  .d-flex {
    width: 500px;
  }

  .card-header {
    font-size: larger;
  }

  .recom-title-sm {
    display: none;
  }

  .recom-title-lg {
    display: block;
  }

  .nav-choices {
    padding-left: 20px;
    padding-right: 35px;
    font-size: large;
  }

  #search-result-display {
    font-size: large;
  }

  /* .weather-container {
    margin-top: 25px;
    margin-bottom: 20px;
  } */

  #weather-btn-col {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #weather-title {
    text-align: center;
    padding-right: 40px;
  }

  .btn-custom {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 25px;
    padding-right: 25px;
  }

  #forecast-24hr {
    padding-right: 15px;
  }

  #forecast-4days {
    margin-bottom: 20px;
  }

  #weather-display {
    padding-top: 60px;
  }

}
